@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');


:root{
    --primary-color: #34D399;
    --dark-grey: #6B7280;
    --off-white: #F4F4F5;
    --dark-green: #10B981;
}

body{
    font-family: 'Inter','sans-serif';
    margin: 0px;
}

hr{
    margin: 2rem 0rem;
}
/* container */

.container{
    padding: 0rem 1rem;
}

.container-center{
    margin: auto;
    max-width: 600px;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    color: white;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    transition: 0.3s;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    transition: 0.3s;
}

/* lists */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    padding: 0rem 0.5rem;
    display: inline;
}

/* navigation */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem ;
    border-bottom-left-radius:1rem ;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color: white;
}
.navigation .link-active{
    font-weight: bold;
}

/* header */

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto
}

.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-grey);
}

/* sections */
section{
    padding: 2rem;
}

section h1{
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

footer{
    background-color: var(--dark-green);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
}

footer .social-links{
    padding-inline-start: 0px;
}

footer .footer-header{
    font-weight: bold;
    font-size: large;
}

footer .link{
    color: white;
}

/* blog-section */
ul{
    padding-inline-start: 0px;
}
.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.container-flex2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog-imgs{
    height: 30vh;
    width: 30vh;
    max-height: 250px;
    max-width: 250px;
    min-height: 150px;
    min-width: 150px;
    border-radius: 10px;
}

.blog-link{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.blog-title{
    margin: 0rem 1rem;
}

.blog-card{
    background-color: #DCFCE7;
    border-radius: 10px;
    margin: 0px 1rem;
}

/* spacing */

.mg-b{
    margin-bottom: 1.7rem;
}

.mg-t{
    margin-top: 3.5rem;
}

/* hover effects */

.link-primary:hover{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.link-secondary:hover{
    background-color: var(--primary-color);
    color: white;
}